<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.1.0" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.1.1" targetFramework="net48" />
  <package id="Krypton.Navigator" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Ribbon" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Workspace" version="70.22.11.312" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="nucs.JsonSettings" version="1.0.7" targetFramework="net48" />
  <package id="SvgNet" version="3.3.3" targetFramework="net48" />
</packages>